<!DOCTYPE html>
<html>

  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <section></section>
    <header>
      <div> <img src="" alt=""></div>
      <nav>
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </nav>
    </header>
    <section>
      <article>
        <img src="" alt="">
        h4
      </article>
    </section>
    <h2>novedades 2022</h2>
    <section></section>
    <h4>desde hace 30 años, te acercamos los mejores sahumerios y accesorios</h4>
    <section></section>
    <p>representacion oficial</p>
    <h3>Nuestros productos</h3>
    <section></section>
    <footer></footer>
  </body>
  
</html>
